<h3>General</h3>
<div>
  <%= label thing, :_name, 'Name' %>
  <%= text_field thing, :_name %>
</div>
<div>
  <%= label thing, :description, 'Description' %>
  <%= text_field thing, :description %>
</div>