<% @page_title="Person: " + @person.display_value  %>

<div class="container">
  <h1><%= @person.display_value %></h1>

  <%= render partial: 'show_thing', locals: {thing: @person} %>

  <%= link_to 'Edit', edit_person_path(@person) %>

</div>